*.a
*.o
*.so
*.so.*
*.po
*.pc
.gitignore
Makefile
config.log
config.status
tcamgr
tcamttest
tcatest
tcbmgr
tcbmttest
tcbtest
tcfmgr
tcfmttest
tcftest
tchmgr
tchmttest
tchtest
tctmgr
tctmttest
tcttest
tcucodec
tcumttest
tcutest
tcawmgr.cgi
